<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.segprojet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Segprojet">
        <activity android:name="com.example.segprojet.AddService"></activity>
        <activity android:name="com.example.segprojet.SelectSuccursale" />
        <activity android:name="com.example.segprojet.SelectHours" />
        <activity android:name="com.example.segprojet.Client" />
        <activity android:name="com.example.segprojet.Employee" />
        <activity android:name="com.example.segprojet.DeleteAccounts" />
        <activity android:name="com.example.segprojet.ManageServices" />
        <activity android:name="com.example.segprojet.CreateServices" />
        <activity android:name="com.example.segprojet.Admin" />
        <activity android:name="com.example.segprojet.Welcome" />
        <activity android:name="com.example.segprojet.SignUp" />
        <activity android:name="com.example.segprojet.SignIn" />
        <activity android:name="com.example.segprojet.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>